/data/.sessions.json
/data/.config.runtime.json
/data/package-lock.json
/data/flows_cred.json
/data/node_modules
/data/.npm
/data/*.backup
/data/node-red-contrib-home-assistant-websocket.json
/prd-node-red-app.env
/.ssh/
data/.config.users.json
